USE [master]
GO
/****** Object:  Database [BaseApp]    Script Date: 18-12-2024 10:50:11 ******/
CREATE DATABASE [BaseApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseApp]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 18-12-2024 10:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoginId] [varchar](45) NOT NULL,
	[Password] [varchar](45) NOT NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 18-12-2024 10:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pname] [varchar](100) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[Fpath] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetAllValues]    Script Date: 18-12-2024 10:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[GetAllValues] 
As
Begin 
  Select * From Settings;
  End;
GO
/****** Object:  StoredProcedure [dbo].[upsertSetting]    Script Date: 18-12-2024 10:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[upsertSetting] 
    @Id INT = NULL,             -- Optional, used for updating existing records
    @Pname VARCHAR(100),
    @IP VARCHAR(50),
    @Port VARCHAR(25),
    @Fpath VARCHAR(100)
AS
BEGIN
    -- If Id is NULL, we are inserting a new record
    IF @Id IS NULL
    BEGIN
        INSERT INTO Settings (Pname, IP, Port, Fpath)
        VALUES (@Pname, @IP, @Port, @Fpath);
    END
    -- If Id is not NULL, we are updating an existing record
    ELSE
    BEGIN
        UPDATE Settings
        SET Pname = @Pname,
            IP = @IP,
            Port = @Port,
            Fpath = @Fpath
        WHERE Id = @Id;
    END

    -- Always execute SELECT * from Settings after insert or update
    SELECT * FROM Settings;
END;
GO
USE [master]
GO
